<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-invere">
      <div class="d-flex justify-content-between hidden-lg-up">
        <a class="navbar-brand" href="/">home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bd-main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a href=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
          </li>
          <li class="nav-item">
            <a href=""></a>
          </li>
          <li class="nav-item">
            <a href=""></a>
          </li>
          <li class="nav-item">
            <a href=""></a>
          </li>
          <li class="nav-item">
            <a href=""></a>
          </li>
          <li class="nav-item">
            <a href=""></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
